/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.nikahfixImage {
    width: 128px;
    height: 34px;
}
.guestImage {
    width: 100px;
    height: 100px;
}
